<h1>About</h1>

<p>This site was created by Claudia Zavala, an undergraduate student
  at Michigan State University. This is her Final Project created for
  TC 359: Server Side Web Development taught by Instructor Chris Fritz.
  This site is brought to you by Codekwondo and is using some HTML, SASS,
  Bootstrap and Ruby.
</p>
