ul li {
  display: inline;
}

.nav {
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:20;
  padding:0;
  text-align:center;
  font-size: 2em;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
